<div class="container">
    <p class="text-center">
        Proyecto realizado por <b>Juan Jesús Gómez Noya</b>. Licensed under MIT. Documentation licensed under CC BY 3.0. Copyright 2015.
    </p>
</div>
