<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
  
	<header class="navbar navbar-default navbar-fixed-top">
        <% include partials/header %>
	</header>

	<div class="container">
    
	    <div class="jumbotron">
            <h2><%= title %></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim amet libero labore, atque provident reprehenderit consequuntur magnam quos sunt debitis nisi tempora maxime tempore eius nihil consequatur facilis ut blanditiis facere et, impedit sapiente placeat odit id. Quos nisi totam, saepe id eaque delectus sit exercitationem aut expedita optio. Reprehenderit.</p>
            <p><a role="button" href="#" class="btn btn-primary btn-md">Details »</a></p>
        </div>
        
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Users</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a role="button" href="users" class="btn btn-info">Details »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Register</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a role="button" href="register" class="btn btn-info">Details »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Sign up</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p><a role="button" href="login" class="btn btn-info">Details »</a></p>
            </div>
        </div>
        <!-- </div>	-->
    </div>
   
	<footer class="footer">
        <% include partials/footer %>
	</footer>
	
	
    <!-- Latest compiled and minified JavaScript -->
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	
  </body>
</html>
